@import "variables";

.todo-list {
  display: flex;
  column-gap: 10px;
  height: 70vh;

  &-side-nav {
    position: relative;
    width: 300px;
    height: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-content {
    border-radius: 8px;
    flex: 1;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-position: fixed;
    position: relative;

    @media (max-width: 600px) {
      row-gap: 65px;
    }

    &-controls {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .chips {
        position: static;

        @media (max-width: 600px) {
          position: absolute;
          top: 50px;
          left: 15px;
          right: 15px;
          overflow-x: auto;
        }
      }

      .add-button {
        cursor: pointer;
        margin-left: -5px;
      }
    }

    .list-items {
      padding: 0px 15px 30px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      height: 100%;
      overflow-y: auto;
      flex: 1;
    }

    @media (max-width: 768px) {
      border-radius: 0px;
    }
  }
}
