<div class="todo-list">
  <div class="todo-list-side-nav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="todo-list-content">
    <div class="todo-list-content-controls">
      <div class="btns">
        <img
          class="icon"
          src="/assets/icons/arrow-back.svg"
          alt="arrow-icon"
          (click)="onBackToCategories()" />
        <p class="title">To do<img src="/assets/icons/alarm.svg" alt="alert" />List</p>

        <img class="icon" src="/assets/icons/plus.svg" alt="add-icon" (click)="onOpenAddToDoDialog()" />
      </div>

      <div class="chips">
        <mat-chip-listbox aria-label="Categories Selection">
          @for (category of categories$ | async; track category.id) {
          <mat-chip-option
            #chip
            [attr.data-title]="category.title"
            [selected]="category.title === activeCategory"
            (selectionChange)="onCategorySelect($event, category.title)">
            {{ category.title }}
          </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
      <div class="completion-progress">
        <div class="completion-progress-percent">
          <span>Completion rate</span>
          <span>{{ completionRateByCategory }} %</span>
        </div>

        <mat-progress-bar
          color="accent"
          mode="determinate"
          [value]="completionRateByCategory"></mat-progress-bar>
      </div>
    </div>
    <div class="list-items">
      @for(todo of todos; track todo.id) {
      <app-todo-list-item [listItem]="todo"></app-todo-list-item>
      }
    </div>
  </div>
</div>
