@import "variables";

.todo-list {
  display: flex;
  column-gap: 10px;
  height: 70vh;

  &-side-nav {
    position: relative;
    width: 300px;
    height: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-content {
    border-radius: 8px;
    flex: 1;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-position: fixed;
    //
    position: relative;

    &-controls {
      // padding: 8px 0px;

      .add-button {
        cursor: pointer;
      }
    }

    .list-items {
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      height: 100%;
      overflow-y: auto;
      flex: 1;

      @media (max-width: 768px) {
        // box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3), inset 0px -5px 5px -5px rgba(0, 0, 0, 0.3);
      }
    }

    @media (max-width: 768px) {
      border-radius: 0px;
    }
  }
}
