<div class="todo-list">
  <div class="todo-list-side-nav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="todo-list-content">
    <div class="todo-list-content-controls">
      <div class="add-button" (click)="onOpenAddToDoDialog()">
        <img src="/assets/icons/plus.svg" alt="add-icon" />
      </div>
    </div>
    <div class="list-items">
      @for(todo of todos; track todo.id) {
      <app-todo-list-item [listItem]="todo"></app-todo-list-item>
      }
    </div>
  </div>
</div>
