@import "variables";
.todo-list {
  display: flex;
  column-gap: 10px;
  height: 70vh;

  &-side-nav {
    position: relative;
    width: 300px;
    height: 100%;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-content {
    border-radius: 8px;
    flex: 1;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;

    row-gap: 25px;
    background-position: fixed;
    position: relative;

    @media (max-width: 768px) {
      row-gap: 75px;
    }

    &-controls {
      display: flex;
      flex-direction: column;
      row-gap: 25px;

      .radio-group {
        @media (min-width: 601px) {
          display: none;
        }
      }

      .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
          cursor: pointer;
          margin-left: -5px;
        }

        .title {
          display: flex;
          align-items: center;
          column-gap: 5px;
          color: $primary-color;
          font-weight: 600;
          font-size: 18px;

          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }

      .chips {
        position: static;
        @media (max-width: 768px) {
          margin-top: 50px;
          position: absolute;
          top: 50px;
          left: 15px;
          right: 15px;
          overflow-x: auto;
        }
      }
      .completion-progress {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        &-percent {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: $secondary-color-tint-500;
            font-size: 14px;
            align-self: flex-end;
          }
        }

        @media (min-width: 768px) {
          display: none;
        }
      }
    }

    .list-items {
      padding: 0px 15px 30px;
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      height: 100%;
      overflow-y: auto;
      flex: 1;
      position: relative;

      .empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        p {
          color: $primary-color;
        }
      }
    }

    @media (max-width: 768px) {
      border-radius: 0px;
    }
  }
}
