<mat-sidenav [opened]="true" mode="side">
  <mat-nav-list>
    <a mat-list-item>
      <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Today</span>
      </span>
    </a>
    <a mat-list-item>
      <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Dashboard</span>
      </span>
    </a>
    <a mat-list-item>
      <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Dashboard</span>
      </span>
    </a>
  </mat-nav-list>

  <div class="side-nav-cards">
    <div class="category-card">
      <p>Work</p>
      <span>Make a dinner</span>
      <span>Make a dinner </span>
      <span>Make a dinner</span>
      <span>Make a dinner</span>
    </div>

    <div class="category-card">
      <p>Family</p>
      <span>Make a dinner</span>
      <span>Make a dinner </span>
      <span>Make a dinner</span>
      <span>Make a dinner</span>
    </div>
    <!-- <img src="/assets/img/girl.svg" alt="image" /> -->
    <!-- <img src="/assets/img/girl-2.svg" alt="image" /> -->
  </div>
</mat-sidenav>
