<mat-sidenav [opened]="true" mode="side">
  <mat-nav-list>
    <a mat-list-item>
      <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Today</span>
      </span>
    </a>
    <a mat-list-item>
      <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Dashboard</span>
      </span>
    </a>
    <a mat-list-item>
      <span class="entry">
        <mat-icon>house</mat-icon>
        <span>Dashboard</span>
      </span>
    </a>
  </mat-nav-list>

  <div class="side-nav-cards">
    @for(toDoByCategory of toDosByCategory; track toDoByCategory.categoryName) {
    <div class="category-card">
      <div class="category-card-top aligned-space-between">
        <p class="category-card-top-title">{{ toDoByCategory.categoryName }}</p>
        <span class="category-card-top-percent">{{ toDoByCategory.completionRate }} %</span>
      </div>
      <mat-progress-bar
        color="accent"
        mode="determinate"
        [value]="toDoByCategory.completionRate"></mat-progress-bar>
    </div>
    }
  </div>
</mat-sidenav>
