<mat-sidenav [opened]="true" mode="side">
  <div class="radios-section">
    <div class="filter-by text-icon-aligned-center">
      <img src="/assets/icons/filter.svg" alt="filter-icon" />
      <span>Filters</span>
    </div>

    <mat-radio-group
      class="completion-radio-group"
      [(ngModel)]="completionState"
      (change)="onTodoItemStateChange($event.value)"
      name="completionState"
      aria-label="Select an option">
      <mat-radio-button color="accent" value="all">All</mat-radio-button>
      <mat-radio-button color="accent" value="active">Active</mat-radio-button>
      <mat-radio-button color="accent" value="completed">Completed</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div class="completion-cards">
    <p class="completion-cards-title text-icon-aligned-center"
      ><img src="/assets/icons/flag.svg" alt="flag-icon" />Completion Rate
    </p>

    <div class="completion-card">
      <div class="completion-card-top">
        <p>{{ activeCategory }}</p>
        <span>{{ completionRate }} %</span>
      </div>
      <mat-progress-bar color="accent" mode="determinate" [value]="completionRate"></mat-progress-bar>
    </div>
  </div>
</mat-sidenav>
