<mat-sidenav [opened]="true" mode="side">
  <div class="filter-by text-icon-aligned-center">
    <img src="/assets/icons/filter.svg" alt="filter-icon" />
    <span>Filters</span>
  </div>
  <mat-divider></mat-divider>
  <mat-radio-group
    class="completion-radio-group"
    [(ngModel)]="completionState"
    name="completionState"
    aria-label="Select an option">
    <mat-radio-button color="accent" value="active">Active</mat-radio-button>
    <mat-radio-button color="accent" value="completed">Completed</mat-radio-button>
  </mat-radio-group>
  <mat-divider></mat-divider>

  <div class="checkbox-group">
    <mat-checkbox
      color="accent"
      *ngFor="let dueDateOption of dueDateOptions"
      [(ngModel)]="dueDateOption.selected"
      (change)="onDueDateChange()"
      [value]="dueDateOption.value">
      {{ dueDateOption.label }}
    </mat-checkbox>
  </div>
  <mat-divider></mat-divider>

  <div class="completion-cards">
    <div class="category-card">
      <div class="category-card-top primary-colored">
        <p>{{ activeCategory }}</p>
        <span>{{ completionRate }} %</span>
      </div>
      <mat-progress-bar color="accent" mode="determinate" [value]="completionRate"></mat-progress-bar>
    </div>
  </div>
</mat-sidenav>
