.todos {
  max-width: 1200px;
  margin: 0 auto;
  // max-height: 600px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 100%;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
  }
}
