@import "variables";

.tabs {
  display: flex;
  column-gap: 15px;
  background-color: $background-color;
  padding: 15px 20px;
  width: fit-content;
  margin: 0px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 9px rgba(black, 0.4);

  .tab {
    position: relative;

    &-tile {
      width: 45px;
      height: 45px;
      border-radius: 8px;
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 9px rgba(black, 0.4);
      cursor: pointer;
      transition: all 0.6s cubic-bezier(0, 0, 0, 2);

      .material-symbols-outlined {
        font-size: 28px;
        color: #fff;
      }
    }
  }

  .tab:not(.selected):hover .tab-tile {
    background-color: transparent;
    border: 1px solid $secondary-color;
  }

  .tab:not(.selected):hover .tab-tile .material-symbols-outlined {
    color: $secondary-color;
  }

  .tab.selected .tab-tile {
    transform: translate(0px, -100%);
    background-color: $secondary-color;
  }

  .tab::after {
    background-color: transparent;
    content: "";
    width: 20%;
    height: 5px;
    position: absolute;
    bottom: -15px;
    left: 0px;
    transition: all 0.6s cubic-bezier(0, 0, 0, 2);
  }

  .tab.selected:after {
    background-color: $secondary-color;
    width: 100%;
  }
}
