@use "@angular/material" as mat;
@include mat.core();

$custom-secondary-palette: (
  50: #f0fae7,
  100: #d8f1c2,
  200: #bee79b,
  300: #a3dd70,
  400: #8cd54c,
  500: #75cd22,
  600: #66bd19,
  700: #4ea90a,
  800: #369500,
  900: #007300,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
  ),
);

$custom-primary-palette: (
  50: #fff3e2,
  100: #ffe0b6,
  200: #ffcc87,
  300: #ffb759,
  400: #ffa73a,
  500: #ff9924,
  600: #fa8d22,
  700: #f47d20,
  800: #ed6e1d,
  900: #e35419,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
  ),
);

// $custom-secondary-palette: (
//   50: #f0f8e8,
//   100: #e0f2d1,
//   200: #d1ebba,
//   300: #c1e5a3,
//   400: #b2de8c,
//   500: #a3d775,
//   600: #93d15e,
//   700: #84ca47,
//   800: #74c430,
//   900: #65bd19,
// );

// $custom-primary-palette: (
//   50: #fff8ee,
//   100: #fff1de,
//   200: #ffe9cd,
//   300: #ffe2bd,
//   400: #ffdbac,
//   500: #ffd49b,
//   600: #ffcd8b,
//   700: #ffc57a,
//   800: #ffbe6a,
//   900: #ffb759,
// );

$personal_dashboard-primary: mat.define-palette($custom-primary-palette);
$personal_dashboard-accent: mat.define-palette($custom-secondary-palette);

$personal_dashboard-warn: mat.define-palette(mat.$red-palette);

$personal_dashboard-theme: mat.define-light-theme(
  (
    color: (
      primary: $personal_dashboard-primary,
      accent: $personal_dashboard-accent,
      warn: $personal_dashboard-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($personal_dashboard-theme);

@import "variables";

//material dialog shared styles
.my-dialog {
  mat-dialog-container {
    border-radius: 8px;

    .mat-mdc-dialog-surface {
      padding: 20px;
      border-radius: 8px;
    }
  }
}
//material form-field styles
.mat-mdc-form-field {
  width: 100%;

  .mat-mdc-form-field-error-wrapper {
    padding: 0;
  }
}

//material button styles

.mdc-button {
  width: 100%;
}

//material menu styles
.mat-mdc-menu-panel {
  min-width: 90px;
  background-color: $secondary-color-tint-100;

  .mat-mdc-menu-content {
    padding: 0px;

    .mat-mdc-menu-item {
      padding: 0px 8px;
      min-height: 38px;

      &-text {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      &:hover {
        background-color: $primary-color-tint-600;
      }
    }
  }
}
//material sidenav styles
mat-sidenav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $list-item-active-background-color;
  border-radius: 8px;
  box-shadow: 0px 5px 9px rgba(black, 0.4);
  padding: 10px 0px;

  .entry {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    color: $secondary-color-tint-500;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  }

  .mat-drawer-inner-container {
    padding: 15px 0px 30px;
    height: 100%;
    border-radius: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

    .mat-mdc-nav-list {
      align-self: flex-start;
      width: 100%;
    }
  }
}
// material chips styles
.mat-mdc-chip-listbox {
  .mdc-evolution-chip-set__chips {
    flex-wrap: wrap !important;
    @media (max-width: 600px) {
      flex-wrap: nowrap !important;
    }
    .mat-mdc-standard-chip {
      border-radius: 4px;
      background-color: $secondary-color-tint-100;
    }

    .mat-mdc-chip-selected {
      background-color: $secondary-color-tint-700 !important;
      box-shadow: 0px 3px 9px rgba(black, 0.4);
    }
  }
}

//material radio buttons styles

.time-period-radio-group {
  display: flex;
  column-gap: 15px;
  align-items: center;

  .mat-mdc-radio-button .mdc-radio {
    padding: 12px;
  }
}
.completion-radio-group {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 16px;
  .mat-mdc-radio-button .mdc-radio {
    // color: $primary-color;
  }
}

// .mdc-form-field > label {
//   color: $primary-color !important;
// }
