@import "variables";

.my-dialog {
  mat-dialog-container {
    border-radius: 8px;

    .mat-mdc-dialog-surface {
      padding: 20px;
      border-radius: 8px;
    }
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-button {
  width: 100%;
}

mat-sidenav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: $background-color;
  border-radius: 8px;

  // @media screen and (min-width: 600px) {
  //   padding-top: 4rem;
  // }

  .entry {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    // color: $primary-color;
    color: $secondary-color-light;
  }
}
