@mixin flex-vertical($gap: 12px) {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
  align-items: center;
}

@mixin flex-horizontal($gap: 12px) {
  display: flex;
  column-gap: $gap;
  align-items: center;
}

@mixin centered() {
  display: flex;
  justify-content: center;
  align-items: center;
}
