// Custom Theming for Angular Material
@use "@angular/material" as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-secondary-palette: (
  50: #f0fae7,
  100: #d8f1c2,
  200: #bee79b,
  300: #a3dd70,
  400: #8cd54c,
  500: #75cd22,
  600: #66bd19,
  700: #4ea90a,
  800: #369500,
  900: #007300,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
  ),
);

$custom-primary-palette: (
  50: #fff3e2,
  100: #ffe0b6,
  200: #ffcc87,
  300: #ffb759,
  400: #ffa73a,
  500: #ff9924,
  600: #fa8d22,
  700: #f47d20,
  800: #ed6e1d,
  900: #e35419,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
  ),
);

// $custom-secondary-palette: (
//   50: #f0f8e8,
//   100: #e0f2d1,
//   200: #d1ebba,
//   300: #c1e5a3,
//   400: #b2de8c,
//   500: #a3d775,
//   600: #93d15e,
//   700: #84ca47,
//   800: #74c430,
//   900: #65bd19,
// );

// $custom-primary-palette: (
//   50: #fff8ee,
//   100: #fff1de,
//   200: #ffe9cd,
//   300: #ffe2bd,
//   400: #ffdbac,
//   500: #ffd49b,
//   600: #ffcd8b,
//   700: #ffc57a,
//   800: #ffbe6a,
//   900: #ffb759,
// );

$personal_dashboard-primary: mat.define-palette($custom-primary-palette);
$personal_dashboard-accent: mat.define-palette($custom-secondary-palette);

// The warn palette is optional (defaults to red).
$personal_dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personal_dashboard-theme: mat.define-light-theme(
  (
    color: (
      primary: $personal_dashboard-primary,
      accent: $personal_dashboard-accent,
      warn: $personal_dashboard-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($personal_dashboard-theme);

@import "./material.scss";
// @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;

  &-title {
    color: $text-color;
    font-weight: 600;
  }

  &-inputs {
    flex: 1;
  }

  &-actions {
    justify-self: flex-end;
    display: flex;
    column-gap: 15px;
  }
}

.text-icon-aligned {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.primary-colored {
  color: $primary-color;
}

.secondary-colored {
  color: $secondary-color;
}

.secondary-light-colored {
  color: $secondary-color-tint-500;
}

@media (min-width: 601px) {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f0efef;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 8px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color-tint-500;
  }
}
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}

mat-sidenav {
  padding: 0;

  .mat-drawer-inner-container {
    padding: 15px 0px 30px;
    height: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    .side-nav-image {
      align-self: center;
      padding: 10px;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0%);

      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}
