@import "./material.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

//dialog form style

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  // height: 100%;

  &-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    .title {
      font-weight: 600;
      color: $primary-color-shade-300;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }

  &-actions {
    justify-self: flex-end;
    display: flex;
    column-gap: 15px;
  }
}

//

.text-icon-aligned-center {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.primary-colored {
  color: $primary-color;
}

// .secondary-colored {
//   color: $secondary-color;
// }

.secondary-light-colored {
  color: $secondary-color-tint-500;
}

// scrollbar styles
@media (min-width: 601px) {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f0efef;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $secondary-color-tint-600;
    border-radius: 8px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-tint-700;
  }
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}

//
.error-message {
  font-size: 14px;
  color: #e62929;
  font-weight: 500;
}
