$primary-color: #ffb759;
$secondary-color: #65bd19;
$tertiary-color: #0c2b31;

// primary-color tints

$primary-color-tint-800: #ffbe6a;
$primary-color-tint-700: #ffc57a;
$primary-color-tint-600: #ffcd8b;
$primary-color-tint-500: #ffd49b;
$primary-color-tint-400: #ffdbac;
$primary-color-tint-300: #ffe2bd;
$primary-color-tint-200: #ffe9cd;
$primary-color-tint-100: #fff1de;
$primary-color-tint-50: #fff8ee;
$primary-color-tint-10: #ffffff;

// primary-color shades
$primary-color-shade-10: #e6a550;
$primary-color-shade-50: #cc9247;
$primary-color-shade-100: #b3803e;
$primary-color-shade-200: #996e35;
$primary-color-shade-300: #805c2d;
$primary-color-shade-400: #664924;
$primary-color-shade-500: #4c371b;
$primary-color-shade-600: #332512;
$primary-color-shade-700: #191209;
$primary-color-shade-800: #000000;

// secondary-color tints

$secondary-color-tint-800: #74c430;
$secondary-color-tint-700: #84ca47;
$secondary-color-tint-600: #93d15e;
$secondary-color-tint-500: #a3d775;
$secondary-color-tint-400: #b2de8c;
$secondary-color-tint-300: #c1e5a3;
$secondary-color-tint-200: #d1ebba;
$secondary-color-tint-100: #e0f2d1;
$secondary-color-tint-50: #f0f8e8;
$secondary-color-tint-10: #ffffff;

// secondary-color shades
$secondary-color-shade-10: #5baa17;
$secondary-color-shade-50: #519714;
$secondary-color-shade-100: #478412;
$secondary-color-shade-200: #3d710f;
$secondary-color-shade-300: #335f0d;
$secondary-color-shade-400: #284c0a;
$secondary-color-shade-500: #1e3907;
$secondary-color-shade-600: #142605;
$secondary-color-shade-700: #0a1302;
$secondary-color-shade-800: #000000;

//other

// $background-color: #202020;

$list-item-active-background-color: #12394168;

$list-item-completed-background-color: #c1e5a3;

$text-color: #333;

$music-card-background-color: #12394198;
