$primary-color: #ffb759;
$primary-color-darker: #e6a550;
$primary-color-lighter: #ffc57a;

$secondary-color: #65bd19;
$secondary-color-light: #c1e5a3;

$background-color: #202020;

$list-item-active-background-color: #1239414c;
$list-item-completed-background-color: #c1e5a3;

$text-color: #333;
/*
 primary-color tint and shades

  #e6a550,#cc9247,#b3803e,#996e35,#805c2d,#664924,#4c371b,#332512,#191209,#000000;

  #ffbe6a, #ffc57a,#ffcd8b,#ffd49b,#ffdbac,#ffe2bd,#ffe9cd,#fff1de,#fff8ee,#ffffff;
*/

/*
secondary-color tint and shades
#5baa17,#519714,#478412,#3d710f,#335f0d,#284c0a,#1e3907,#142605,#0a1302,#000000;

#74c430,#84ca47,#93d15e,#a3d775,#b2de8c,#c1e5a3,#d1ebba,#e0f2d1,#f0f8e8,#ffffff;
*/
