<div class="categories">
  <div class="add-custom-category" (click)="onOpenCategoryAddDialog()">
    <img src="/assets/icons/plus.svg" alt="add-icon" />
  </div>
  <div class="categories-tiles">
    @for(category of categories; track category.id) {
    <app-to-do-category-tile [toDoCategory]="category" (click)="onLoadToDoListByCategory(category)">
    </app-to-do-category-tile>

    }
  </div>
</div>

<ng-template #addNewCategoryDialogContent>
  <form #categoryForm="ngForm" class="form" (ngSubmit)="onAddCategory(categoryForm.value)">
    <p class="form-title"> Add New Category </p>
    <div class="form-inputs">
      <mat-form-field>
        <input name="newCategory" matInput [(ngModel)]="newCategory" placeholder="E.g hobby" required />
      </mat-form-field>
    </div>
    <div class="form-actions">
      <button mat-stroked-button type="button" (click)="dialogRef.close()">Cancel</button>
      <button color="primary" mat-stroked-button type="submit">Save</button>
    </div>
  </form>
</ng-template>
