@import "variables";
.categories {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-height: 70vh;
  padding: 0px 10px;

  &-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    position: relative;

    &-title {
      display: flex;
      align-items: center;
      column-gap: 5px;
      color: $primary-color;
      font-weight: 600;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    @media (max-width: 768px) {
      padding: 10px 0px;
      border: 1px solid $primary-color;
      //
      border: none;
      background-color: transparent;
      box-shadow: none;
    }
  }
  //
  &-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
    overflow-y: auto;
    padding-right: 15px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 15px;
      padding-right: 0px;
    }
  }
}
