<div class="categories">
  <div class="categories-header">
    <img src="/assets/icons/plus.svg" alt="add-icon" (click)="onOpenCategoryAddDialog()" />
    <p class="categories-header-title">To do <img src="/assets/icons/alarm.svg" alt="alert" />Categories</p>
  </div>
  <div class="categories-tiles">
    @for(category of categories; track category.id) {
    <app-to-do-category-tile [toDoCategory]="category" (click)="onLoadToDoListByCategory(category)">
    </app-to-do-category-tile>

    }
  </div>
</div>
