<div
  class="category-tile"
  [ngClass]="{
    'default-category': toDoCategory?.type === 'default',
    'user-category': toDoCategory?.type === 'user'
  }">
  <!-- <img [src]="'/assets/icons/' + toDoCategory?.icon" alt="category-icon" /> -->
  <img
    [src]="'/assets/icons/' + (toDoCategory?.icon ? toDoCategory?.icon : 'default-icon.svg')"
    alt="category-icon" />

  <div class="text-block">
    <p>{{ toDoCategory?.title | titlecase }}</p>
    <span> Active: {{ toDoCategory?.activeTodosCount }}</span>
  </div>
</div>
