@import "variables";

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: linear-gradient(rgba(18, 57, 65, 0.7), rgba(5, 27, 32, 0.7)),
    url("/assets/backgrounds/night-3.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;

  .logo {
    width: 60px;
    cursor: pointer;

    // background-color: $list-item-active-background-color;
  }

  &-content {
    flex-grow: 1;
    min-height: 0;
    align-content: space-around;
    @media (max-width: 768px) {
      align-content: flex-start;
    }
  }

  &-footer {
    padding: 15px 0px;
    height: 100px;
  }

  @media (max-width: 768px) {
  }
}
