.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/backgrounds/night-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &-content {
    flex-grow: 1;
    min-height: 0;
    align-content: space-around;
    @media (max-width: 768px) {
    }
  }

  &-footer {
    padding: 15px 0px;
  }
}
