<!-- time-select.component.html -->
<div class="time-select-container">
  <div class="period-select-container">
    <mat-radio-group
      class="time-period-radio-group"
      [(ngModel)]="period"
      name="period"
      aria-label="Select an option">
      <mat-radio-button class="period-select-button" color="primary" value="AM">AM</mat-radio-button>
      <mat-radio-button class="period-select-button" color="primary" value="PM">PM</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="hour-minutes-container">
    <mat-form-field>
      <mat-label>Hours</mat-label>
      <mat-select [(ngModel)]="selectedHour" aria-label="Hour select" required>
        <mat-option *ngFor="let hour of hours" [value]="hour.value">{{ hour.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Minutes</mat-label>
      <mat-select [(ngModel)]="selectedMinute" aria-label="Minute select" required>
        <mat-option *ngFor="let minute of minutes" [value]="minute.value">{{ minute.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
