<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-inputs">
    <p class="title">Add to do description <img src="/assets/icons/list-plus.svg" /></p>
    <mat-form-field>
      <input formControlName="description" type="text" matInput placeholder="E.g Finish design" />
      <mat-error> <span class="error-message">*Please add description</span></mat-error>
    </mat-form-field>

    <p class="title">Set date and time <img src="/assets/icons/bell.svg" /></p>

    <mat-form-field>
      <input readonly [min]="minDate" formControlName="dueDate" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <mat-error> <span class="error-message">*Please select date</span></mat-error>
    </mat-form-field>
    <app-time-select></app-time-select>
  </div>
  <div class="form-actions">
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button color="primary" mat-stroked-button type="submit">Save</button>
  </div>
</form>
