<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <p class="form-title"> Add New To do </p>
  <div class="form-inputs">
    <div class="input">
      <mat-form-field>
        <input formControlName="description" type="text" matInput placeholder="E.g Finish design" />
        <mat-error> <span class="error-message">* This field is required</span></mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Choose due date</mat-label>
      <input readonly [min]="minDate" formControlName="dueDate" matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <app-time-select></app-time-select>
  </div>
  <div class="form-actions">
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button color="primary" mat-stroked-button type="submit">Save</button>
  </div>
</form>
