<div class="music-wrapper">
  <div class="music-player" id="player">
    <iframe
      width="560"
      height="315"
      [src]="sanitize(selectedVideoUrl)"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="video-cards-wrapper">
    <div class="video-card-wrapper" *ngFor="let video of musicVideos">
      <div class="video-card">
        <img [src]="video.thumbnail" alt="{{ video.title }}" />
      </div>
      <button (click)="playVideo(video.videoId)">Play</button>
      <h3>{{ video.title }}</h3>
    </div>
  </div>
</div>
