@import "variables";

.list-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 15px;
  min-height: 100px;
  position: relative;
  max-width: 800px;
  width: fit-content;
  border-radius: 8px;
  box-shadow: 0px 2px 9px rgba(black, 0.4);
  background-color: $list-item-active-background-color;

  @media (max-width: 768px) {
    width: 100%;
  }

  &::before {
    content: "";
    height: 100%;
    width: 5px;
    border-radius: 8px;
    background-color: $primary-color;
    position: absolute;
    left: -15px;
    top: 0px;
    box-shadow: 0px 2px 9px rgba(black, 0.6);
  }

  &.completed {
    // background-color: transparent;
    &::before {
      // background-color: $list-item-completed-background-color;
      background-color: $secondary-color-tint-500;
    }
  }

  &-top {
    margin-right: 30px;

    &-task {
      overflow-wrap: break-word;
      word-break: break-all;
      p {
        color: #fff1de;
        line-height: 1.4;
      }

      p.completed {
        text-decoration: line-through;
        color: $secondary-color-tint-500;
      }
    }
  }

  &-controls {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;

    .complete-btn {
      border: 1px solid $primary-color;
      max-width: fit-content;
    }

    .list-item-bottom-completed {
      display: flex;
      align-items: center;
      column-gap: 15px;

      button {
        width: fit-content;
        color: $primary-color;
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  &-menu-wrapper {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
  }
}
