<div class="list-item" [ngClass]="{ completed: listItem?.completed }">
  <div class="list-item-dots">
    <app-edit-menu [items]="menuItems"> </app-edit-menu>
  </div>
  <div class="list-item-top">
    <div class="list-item-top-task">
      <p [ngClass]="{ completed: listItem?.completed }">{{ listItem?.description }}</p>
    </div>
  </div>
  <div class="list-item-controls">
    @if(!listItem?.completed) {
    <div class="activation-time text-icon-aligned">
      <img src="/assets/icons/fire.svg" alt="fire-icon" />
      <p class="primary-colored">Today</p>
    </div>
    <button
      (click)="onDetermineCompletionState(listItem?.id, true)"
      class="complete-btn"
      color="primary"
      mat-stroked-button
      >Complete</button
    >
    } @else {
    <div class="list-item-bottom-completed">
      <div class="text-icon-aligned">
        <img src="/assets/icons/check.svg" alt="check" />
        <p class="secondary-light-colored">Completed</p>
      </div>
      <button (click)="onDetermineCompletionState(listItem?.id, false)" mat-button>Undo</button>
    </div>
    }
  </div>
</div>
