<div class="list-item">
  <div class="list-item-top">
    <div class="list-item-top-task">
      <!-- <mat-checkbox class="list-item-checkbox" [(ngModel)]="checked"></mat-checkbox> -->
      <p class="">{{ listItem?.description }}</p>
    </div>

    <div class="list-item-top-menu">
      <img src="/assets/icons/dots-vertical.svg" alt="edit-icon" />
    </div>
  </div>
  <div class="list-item-controls">
    @if(!listItem?.completed) {

    <button class="complete-btn" color="primary" mat-stroked-button>Complete</button>
    } @else {
    <div class="list-item-bottom">
      <div class="text-icon-aligned">
        <img src="/assets/icons/check.svg" alt="check" />
        <p class="">Completed</p>
      </div>
      <button [color]="!listItem?.completed ? 'primary' : 'accent'" mat-stroked-button>Undo</button>
    </div>

    }
  </div>

  <!-- <div class="list-item-controls">
    <button mat-raised-button color="accent" mat-button>Edit</button>
    <button mat-raised-button color="warn" mat-button>Delete</button>
  </div> -->
</div>
